/* styles_carrito.css */
#carrito .contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

#carrito .recuadro {
    flex-basis: 48%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrito .lista-productos {
    margin: 20px 0;
}

#carrito .total-compra {
    text-align: right;
    font-size: 1.4em;
    margin-top: 20px;
}

#carrito .botones {
    text-align: left;
    margin-top: 20px;
}

#carrito .boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px

}

#carrito .boton:hover {
    background-color: #0056b3;
}

.total_compra {
    text-align: left;
}